In [6]:
library(tidyverse)
player_stats_raw <- read_csv("player_stats.csv")
player_stats_refined <- player_stats_raw %>%
                        select(Age, Country)
player_stats_refined

Warning message:
“Missing column names filled in: 'X1' [1]”
Parsed with column specification:
cols(
  .default = col_character(),
  X1 = col_double(),
  `Turned Pro` = col_double(),
  Seasons = col_double(),
  Titles = col_double(),
  `Best Season` = col_double(),
  Retired = col_double(),
  Masters = col_double(),
  `Grand Slams` = col_double(),
  `Davis Cups` = col_double(),
  `Team Cups` = col_double(),
  Olympics = col_double(),
  `Weeks at No. 1` = col_double(),
  `Tour Finals` = col_double()
)

See spec(...) for full column specifications.

    Age             Country
1   26 (25-04-1993) Brazil
2   18 (22-12-2001) United Kingdom
3   32 (03-11-1987) Slovakia
4   21 (29-05-1998) Korea, Republic of
5   27 (21-10-1992) Australia
6   22 (11-02-1997) Poland
7   28 (18-11-1991) United States
8   21 (12-05-1998) Taiwan, Province of China
9   25 (29-07-1994) Uzbekistan
10  20 (02-04-1999) Finland
11  19 (08-08-2000) Canada
12  23 (11-02-1996) Russian Federation
13  28 (28-11-1991) Ecuador
14  23 (22-02-1996) Germany
15  28 (17-03-1991) Canada
16  31 (23-09-1988) Argentina
17  24 (26-04-1995) Spain
18  22 (02-05-1997) Australia
19  20 (31-08-1999) Serbia
20  22 (28-10-1997) United States
21  33 (12-04-1986) Spain
22  32 (07-10-1987) United States
23  30 (20-09-1989) Slovakia
24  30 (30-08-1989) Italy
25  30 (29-11-1989) Sweden
26  22 (23-03-1997) Italy
27  26 (14-09-1993) Spain
28  30 (12-11-1989) India
29  21 (19-02-1998) Brazil
30  32 (24-05-1987) Italy
⋮   ⋮               ⋮
471 23 (12-01-1997) Spain
472 24 (07-02-1995) United States
473 28 (13-11-1991) Germany
474 34 (17-06-1985) Cyprus
475 26 (29-06-1993) Brazil
476 21 (27-11-1998) Italy
477 25 (21-09-1994) France
478 24 (05-05-1995) Italy
479 25 (24-08-1994) France
480 18 (03-08-2001) United States
481 27 (27-10-1992) Russian Federation
482 23 (03-10-1996) China
483 29 (16-10-1990) United States
484 26 (17-01-1994) Belgium
485 22 (20-01-1998) United States
486 32 (14-01-1988) Belgium
487 23 (03-05-1996) Japan
488 24 (27-09-1995) Japan
489 24 (04-07-1995) Canada
490 18 (08-08-2001) Taiwan, Province of China
491 28 (12-07-1991) Bosnia and Herzegovina
492 26 (28-07-1993) Bulgaria
493 31 (20-01-1989) Ecuador
494 32 (19-10-1987) India
495 20 (31-01-1999) Russian Federation
496 20 (13-04-1999) France
497 26 (03-09-1993) Austria
498 23 (14-03-1996) Netherlands
499 24 (17-05-1995) Ukraine
500 22 (26-03-1997) Tunisia